	@font-face{
	font-family: "century gothic";
	src: url('centurygothic.otf');
	}
	@font-face{
	font-family: "arial narrow";
	src: url('arialnarrow.otf');
	}

	body{
		background-color:#202020;
		padding:20px;
		font-family:"century gothic";
		letter-spacing: 4px;
		line-height: 10px;
		
	}
	a{
		text-decoration: none;
	}

	h2{
		display: inline-block;
		font-size:15pt;
		color:#7D7D7D;
	}
	.list{
			font-family: 'arial narrow';
			letter-spacing: 4px;
			font-size: 15pt;
			color:#D6D6D6;
			text-decoration: none;
			line-height: 20px;
	}
	.list:hover{
		color:#909090 ;
		transition: .1s;
	}
	#div{
		text-align: center;
	}
	#home{
		font-size: 17pt;
		color:#7D7D7D;
	}
	#favTitle{
		text-align:center;
		font-size: 20pt;
		letter-spacing: 20pt;
		color:#080808 ;
	}